<<<<<<< HEAD
# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application
=======
name: Tests
>>>>>>> ccb7e3e08fc839251181c37a6bb1ce230bc56334

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

<<<<<<< HEAD
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
=======
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

>>>>>>> ccb7e3e08fc839251181c37a6bb1ce230bc56334
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
<<<<<<< HEAD
=======

>>>>>>> ccb7e3e08fc839251181c37a6bb1ce230bc56334
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
<<<<<<< HEAD
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest tests/
=======
        # exit-zero treats all errors as warnings.
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      env:
        SDL_VIDEODRIVER: dummy
        SDL_AUDIODRIVER: dummy
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        pytest tests
>>>>>>> ccb7e3e08fc839251181c37a6bb1ce230bc56334
